<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light header">
  <div class="container">
    <a class="navbar-brand" href routerLink = ""><img src="../../assets/img/logo_bubble.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <span class="nav-link labeled-text" >Welcome to Zip </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href routerLink = "how-it-works" routerLinkActive="active">How it works</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href routerLink = "" >Start accepting Zip today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn secondary-btn round-btn" href routerLink = "" >App!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn bordered-btn round-btn" href routerLink = "" >Contact sales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>