@import "../../../scss/variables";

.header {
    background-color: $header-bg;
    opacity: 0.95;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: $color-blue !important;

    &.navbar {
        .navbar-brand {
            padding: 0 !important;
            img {
                height: 44px;
            }
        }
        .nav-item {
            margin-right: 20px;
            .nav-link {
                color: inherit;
            }
        }
    }
}