<div class="media">
  <div class="media-body">
    <h5 class="mt-0">About Us</h5>
    Hi There,
    <br>
    Here, I am introducing some of my work integrated based on service, HTTP, and pipe.
    <br>
    A data table below contains the user's details, but the details are not static here.
    <br>
    Yes! They are fetched from a JSON file dynamically.
    To fetch the data from a JSON file I have used the service.
    <br>
    The data is being sorted by Date Of Birth. The sort has been implemented using the pipe (which can be used anywhere throughout the application).
    <br>
    The last column 'Age' is not available in a JSON file. To display it in the table, I have implemented a pipe, which takes a dob from the user-list and calculate the age on the current date.
  </div>
</div>
<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of tableData | orderByDate:'-dob'">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.dob | calculateAge}}</td>
    </tr>
  </tbody>
</table>