<section class="landing-section">
  <div class="landing-section-top">
    <div class="container">
        
      <div class="row">
        <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light header">
                <a class="navbar-brand" href routerLink = ""><img src="../../assets/img/logo_bubble.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item ">
                      <a class="nav-link" href routerLink = "" routerLinkActive="active">How it works </a>
                    </li>
                  </ul>
                </div>
              
            </nav>

            <div class="row welcomeSection">
              <div class="col-md-8">
                <h1>
                  Welcome To Zip
                </h1>
                <p>
                  Say hello to more sales more often, and over 1 million new opportunities. Zip offers a better way for customers to pay for your products or services over time, interest free, without any risk to you.
                </p>
                <button class="btn primary-btn round-btn top40">Apply now</button>
              </div>
            </div>
        </div>
        <div class="col-md-4 bg-turquoise-45">
          <form class="eligibility-check-form">
            <h3>Find out if your business is eligible in three quick steps</h3>
            <div class="input-fields">
              <input type="text" name="businessName" id="businessName" placeholder="Business name">
              <input type="email" name="email" id="email" placeholder="Email address">
              <input type="text" name="firstName" id="firstName" placeholder="First name">
              <input type="text" name="lastName" id="lastName" placeholder="Last name">
              <input type="text" name="mobile" id="mobile" placeholder="Mobile number">
            </div>
            <button class="btn bordered-btn round-btn strech top20">Continue your 3 step check</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-section-bottom">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
            <img src="../../../assets/img/magnifier.png">
            <h3>Increase your traffic</h3>
            <p>
                Our Store Directory gives you access to almost  1 million customers every month
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/img/mobile.png">
            <h3>Reach more customers</h3>
            <p>
                Every week, Zip marketing campaigns drive awareness and sales for our featured partners
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/img/megaphone.png">
            <h3>Measurable results</h3>
            <p>
                Access real-time sales performance and gain insights to support your business
            </p>
        </div>
      </div>
    </div>
  </div>
</section>