$color-turquoise: #00AEB8 !default;
$color-lightturquoise: #35C5C3 !default;
$color-white: #FFFFFF !default;
$color-blue: #21285E !default;
$color-lightblue: #424876 !default;
$color-deeplightblue: #EFEFF2 !default;
$color-royalblue: #1C70F2 !default;
$color-grey: #9598B2 !default;
$color-lightgrey: #DCDBDC !default;
$color-orange: #F15C3E !default;
$color-deeplightorange: #F5F4F4 !default;


$header-bg: transparent !default;

$body-content-color: $color-lightblue !default;